<div class="container-fluid">
  <div class="row">
    <%= render "shared/sidebar" %>
    <div id="target" class="col-md-9"></div>
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?language=ja&region=JP&key=<%="#{ENV['API_KEY']}"%>&callback=initMap&libraries=places" async defer></script>
<script>
  var map;
  function initMap() {
    'use strict';
    var target = document.getElementById("target")
    var geocoder = new google.maps.Geocoder();
    const search = document.getElementById("search")
    var tokyo = {lat: 35.681167, lng: 139.767052}
    var cl = document.getElementById('cl')

    map = new google.maps.Map(target, {
      center: tokyo,
      zoom: 15
    });

    cl.addEventListener('click', function(){
      if (!navigator.geolocation) {
        alert('Geolocation not supported');
        return;
      }
      navigator.geolocation.getCurrentPosition(function(position) {
        var place = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
        map = new google.maps.Map(target, {
          center: place,
          zoom: 17
        });
        var marker = new google.maps.Marker({
          position: place,
          map: map
        });
        searchOnsen();
        dragMarker();
      },function() {
          alert('位置情報取得に失敗しました');
      });
    });

    search.addEventListener('click', function(){
      geocoder.geocode({
        address: document.getElementById('address').value
      }, function(results, status) {
        if (status !== 'OK') {
          alert('該当する場所がございません。')
          return;
        }
        if (results[0]) {
        map = new google.maps.Map(target, {
            center: results[0].geometry.location,
            zoom: 15
          });
        } else {
          alert('該当する場所がございません。')
          return;
        }
        searchOnsen();
        dragMarker();
      });
    });
    searchOnsen();
    dragMarker();
  }

  function searchOnsen(){
    var latlng = map.getCenter();
    var lat = latlng.lat();
    var lng = latlng.lng();
    var service = new google.maps.places.PlacesService(map);
    service.nearbySearch({
      location: {lat: lat, lng: lng},
      radius: 800,
      keyword: "銭湯",
      language: 'ja',
    },function(results, status) {
      if(status == google.maps.places.PlacesServiceStatus.OK){
        for(var i = 0; i < results.length;i++) {
          var location = results[i].geometry.location;
          var name = results[i].name;
          var geocoder = new google.maps.Geocoder();

          geocoder.geocode({
            location: location
          }, function(results, status) {
            var adds = results[0].formatted_address.replace("日本、", "");

            const infowindow = new google.maps.InfoWindow({
                content: '<div id="content_name">'+ name + '</div>' + 
                          '<div>'+ adds + '</div>' +
                          '<button id="keep">キープ</button>'
            });
            const marker = new google.maps.Marker({
              position: location,
              map,
              title: name,
              icon: {
                url: "<%= asset_pack_path 'media/images/onsen.png' %>",
                scaledSize: new google.maps.Size(40, 40)
              },
            });
            marker.addListener("click", () => {
              infowindow.open(map, marker);
            });
            infowindow.addListener('domready', ()=> {
              document.getElementById('keep').addEventListener('click', ()=>{
                addElement();
              });
            });
          });
        }
      }
    }); 
  }

  function dragMarker(){
    google.maps.event.addListener(map, "drag", searchOnsen);
  }

  function addElement() {
    var br = document.createElement("br")
    var content_name = document.getElementById('content_name').innerText

    var element = document.createElement("label");
    element.classList.add("btn");
    element.innerText = "・" + content_name;

    var element2 = document.createElement("label");
    element2.classList.add("btn");
    element2.innerText = "☆";

    var parent = document.getElementById('parent');
    parent.appendChild(element);
    parent.appendChild(element2);
    parent.appendChild(br);

  }

</script>
