<div class="container-fluid">
  <div class="row">
    <%= render "shared/sidebar" %>
    <div id="target" class="col-md-9"></div>
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?language=ja&region=JP&key=<%="#{ENV['API_KEY']}"%>&callback=initMap&libraries=places" async defer></script>
<script>
  var map;
  var count = 0;
  function initMap() {
    'use strict';
    var target = document.getElementById("target")
    var geocoder = new google.maps.Geocoder();
    const search = document.getElementById("search")
    var tokyo = {lat: 35.681167, lng: 139.767052}
    var cl = document.getElementById('cl');
    var reset = document.getElementById('reset')

    map = new google.maps.Map(target, {
      center: tokyo,
      zoom: 15
    });

    searchOnsen();
    dragMarker();

    cl.addEventListener('click', function(){
      if (!navigator.geolocation) {
        alert('Geolocation not supported');
        return;
      }
      navigator.geolocation.getCurrentPosition(function(position) {
        var place = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
        map = new google.maps.Map(target, {
          center: place,
          zoom: 15
        });
        var marker = new google.maps.Marker({
          position: place,
          map: map
        });
        searchOnsen();
        dragMarker();
      },function() {
          alert('位置情報取得に失敗しました');
      });
    });

    search.addEventListener('click', function(){
      geocoder.geocode({
        address: document.getElementById('address').value
      }, function(results, status) {
        if (status !== 'OK') {
          alert('該当する場所がございません。')
          return;
        }
        if (results[0]) {
        map = new google.maps.Map(target, {
            center: results[0].geometry.location,
            zoom: 15
          });
        } else {
          alert('該当する場所がございません。')
          return;
        }
        searchOnsen();
        dragMarker();
      });
    });

    reset.addEventListener('click', () => {
      var parent = document.getElementById('parent');

        if (parent.hasChildNodes()) {
          while(parent.firstChild){
            parent.removeChild(parent.firstChild);
          }
          count = 0;
        } else {
          alert("リストがございません。");
        }
    });
  }

  function searchOnsen(){
    var latlng = map.getCenter();
    var lat = latlng.lat();
    var lng = latlng.lng();
    var service = new google.maps.places.PlacesService(map);
    service.nearbySearch({
      location: {lat: lat, lng: lng},
      radius: 1000,
      keyword: "銭湯",
      language: 'ja',
    },function(results, status) {
      if(status == google.maps.places.PlacesServiceStatus.OK){
        for(var i = 0; i < results.length;i++) {
          var location = results[i].geometry.location;
          var name = results[i].name;
          var geocoder = new google.maps.Geocoder();

          geocoder.geocode({
            location: location
          }, function(results, status) {
            try{
              var adds = results[0].formatted_address.replace("日本、", "");
            } catch(e) {
              var adds = ""
            }

            const infowindow = new google.maps.InfoWindow({
                content: '<div id="content_name">'+ name + '</div>' + 
                          '<div id="content_address">'+ adds + '</div>' +
                          '<button id="keep" class="btn btn-primary btn-sm btn-block">キープ</button>'
            });
            const marker = new google.maps.Marker({
              position: location,
              map,
              title: name,
              icon: {
                url: "<%= asset_pack_path 'media/images/onsen.png' %>",
                scaledSize: new google.maps.Size(40, 40)
              },
            });
            marker.addListener("click", () => {
              infowindow.open(map, marker);
            });
            infowindow.addListener('domready', ()=> {
              document.getElementById('keep').addEventListener('click', ()=>{
                addElement();
              });
            });
          });
        }
      }
    }); 
  }

  function dragMarker(){
    google.maps.event.addListener(map, "drag", searchOnsen);
  }

  function addElement() {
    if (count <= 4) {
      var content_name = document.getElementById('content_name').innerText
      var content_address = document.getElementById('content_address').innerText

      var address = document.createElement("label")
      address.classList.add("invisible");
      address.innerText = content_address;

      var br = document.createElement("br")
      br.setAttribute('id', 'br_list');
  
      var element = document.createElement("label")
      element.classList.add("btn-block");
      element.classList.add("mt-2");
      element.setAttribute('id', 'keep_list');
      element.innerText = content_name;
  
      var parent = document.getElementById('parent')
      parent.appendChild(element);
      parent.appendChild(address);
      parent.appendChild(br);
      count += 1
      

    } else {
      alert("最大５つまでです。")
      content_name = ""
    }
    var keep_list = document.getElementById('keep_list')
    keep_list.setAttribute('id', 'keep_list' + count);
    var new_keep_list = document.getElementById('keep_list' + count)

    var move = document.createElement("button")
    move.classList.add("badge");
    move.classList.add("badge-danger");
    move.classList.add("ml-2");
    move.innerText = "移動";
    move.setAttribute('id', 'move');
    new_keep_list.appendChild(move);

    var move_badges = document.querySelectorAll('#move');
    for(var i = 0; i < move_badges.length; i++) {
      move_badges[i].addEventListener('click', moving, false);
    }
    
    content_name = ""
  }

  function moving(e){
    parentnode = e.target.parentNode
    address = parentnode.nextElementSibling.textContent;
    name = parentnode.textContent.replace("移動", "");;

    var geocoder = new google.maps.Geocoder();
    geocoder.geocode({
      address: name
    }, function(results, status) {
      if (status !== 'OK') {
        alert('該当する場所がございません。')
        return;
      }
      if (results[0]) {
      map = new google.maps.Map(target, {
          center: results[0].geometry.location,
          zoom: 15
        });
      } else {
        alert('該当する場所がございません。')
        return;
      }
      const infowindow = new google.maps.InfoWindow({
        content: '<div>'+ name + '</div>' +
                '<a>'+ address + '</a>'
      });

      var marker = new google.maps.Marker({
        position: map.getCenter(),
        map: map,
        icon: {
          url: "<%= asset_pack_path 'media/images/onsen.png' %>",
          scaledSize: new google.maps.Size(40, 40)
        },
      });

      marker.addListener("click", () => {
        infowindow.open(map, marker);
      });
      dragMarker();
    });
  }

  
</script>
