<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <a class="navbar-brand" href="#">温泉マップ</a>
  <input class="form-control mr-sm-2" type="text" id="address" placeholder="地名・エリア">
  <button id="search" class="btn btn-outline-light my-2 my-sm-0">検索</button>
</nav>