<nav class="col-md-3 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <div class="d-flex flex-row">
          <div class="mt-3">キープ一覧(最大５つ)</div>
          <button id="reset" type="button" class="btn btn-secondary ml-3 mt-3 p-0">リセット</button>
        </div>
        <div id="parent">
        </div>
      </li>
    </ul>
  </div>
  <div id="messages">
  </div>
</nav>