<nav class="col-md-3 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">キープ一覧</li>
      <div class="input-group mb-2">
        <ul id="parent">
        </ul>
      </div>
    </ul>
  </div>
</nav>