<nav class="col-md-3 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">店名から検索する</li>
      <div class="input-group mb-2">
        <input class="form-control" id="keyword" type="search" placeholder="店名" aria-label="Search">
        <div class="input-group-append">
          <button type="button" class="btn btn-outline-secondary" id= "spa_search">Button</button>
        </div>
      </div>
    </ul>
  </div>
</nav>