body {
  background-color: #f5f5f5;
  margin: 0;
}

#target {
  width: 500px;
  height: 800px;
}

#mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal {
  background: #fff;
  width: 550px;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: transform 0.4s;
  z-index: 2;
}

#modal > p {
  margin: 0 0 20px;
  color: rgba(0,0,0,.6);
}

#modal > h2 {
  padding: 16px 24px 10px;
}

#mask.hidden {
  display: none;
}

#modal.hidden {
  transform: translate(0, -700px);
}